<div class="favorite-list">
  <h1 class='fav'>My Favorites</h1>
  <% @favorites.each do |favorite| %>
    <div class="favorite-item">
      <div class="content-container">
        <h3 class="restaurant-name"><%= favorite.recommendation.name %></h3>
        <div class="description-container">
          <img src="<%= favorite.recommendation.image_url %>" alt="<%= favorite.recommendation.name %>" class="favorite-image">
          <p class="truncated-description"><%= truncate(favorite.recommendation.description, length: 100) %></p>
          <button class="remove-favorite" data-recommendation-id="<%= favorite.recommendation.id %>"><i class="fa fa-remove" style="font-size:18px"></i></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
