<%# INFO: Available variables: %>
<%# - recommendation: instance of recommendation %>
<%# - page: string containing the location where the card is being rendered. The possible values are: 'home', 'search_results' and 'favorite' %>

<div class="search-item-recommendation">
  <div class="image-container-recommendation" style="background-image: url(<%= recommendation.image_url %>)">
    <h2 class="description-name-recommendation"><%= recommendation.name %></h2>
    <div class="background-transparent">
      <div class="rating-recommendation"><%= recommendation.rating %> <i class="fas fa-star"></i></div>
      <div class="overlay-icons-recommendation">
        <%= render "recommendations/share_and_like_buttons", recommendation: recommendation %>
      </div>
    </div>
  </div>
  <div class="card-information-container">
  <div class="labels-recommendation">
    <span class="label-recommendation label-<%= recommendation.category %>"><%= recommendation.category.humanize %></span>
    <span class="label-recommendation-friendly label-<%= recommendation.kid_friendly %>"><%= recommendation.kid_friendly ? 'Kids Friendly' : nil %></span>
    <span class="label-recommendation-friendly label-<%= recommendation.dog_friendly %>"><%= recommendation.dog_friendly ? 'Dog Friendly' : nil %></span>
    <%# incase we need to show the time range, use this  %>
    <%# <span class="label-recommendation-time label-start-end-time">recommendation.start_time&.strftime('%H:%M') - recommendation.end_time&.strftime('%H:%M')</span> %>
  </div>
  <p class="description-recommendation"><%= truncate(recommendation.description, length: 100) %></p>
  <% if page == "home" || page == "search_results" %>
    <%= link_to recommendation_path(recommendation), class: "text-decoration-none" do %>
     <button class="btn-find-out-more-recommendation">Find Out More</button>
    <% end %>
  <% end %>
  </div>
</div>
