<!-- app/views/recommendations/index.html.erb -->
<div class="recommendations-container filter-modal" data-controller="filter">
  <div class="filter-icon-container">
    <i class="fas fa-sliders-h filter-icon"></i>
  </div>

  <!-- Modal Structure -->
  <div class="modal" data-filter-target="modal">
    <div class="modal-content" data-filter-target="modalContent">
      <span class="close-button" data-action="click->filter#closeModal">&times;</span>
      <h2>Filter and Search</h2>

      <form action="/recommendations" method="get" data-filter-target="searchForm">
        <div class="input-group-recommendation">
          <label for="search-input">Search by name:</label>
          <input type="text" name="query" placeholder="Enter name" class="form-control-recommendation" data-filter-target="searchInput" id="search-input">
        </div>
        <div class="input-group-recommendation">
          <label for="category-select">Search by category:</label>
          <select id="category-select" name="category" class="category-select" data-filter-target="categorySelect">
            <option value="">Select Category</option>
            <% Recommendation.categories.keys.each do |category| %>
              <option value="<%= category %>" <%= 'selected' if params[:category] == category %>><%= category.humanize %></option>
            <% end %>
          </select>
        </div>
        <div class="price-range-container">
          <h3>Price range</h3>
          <p>Nightly prices before fees and taxes</p>
          <input type="range" min="0" max="1000" value="0" class="range-slider" data-filter-target="priceRangeSlider">
          <div class="price-range-inputs">
            <input type="number" id="minPrice" name="min_price" placeholder="Min" data-filter-target="minPrice">
            <input type="number" id="maxPrice" name="max_price" placeholder="Max" data-filter-target="maxPrice">
          </div>
        </div>
        <button type="submit" class="btn-primary-recommendation">Search</button>
      </form>
    </div>
  </div>

  <h1 class="search-recommendation">Search Results</h1>

  <h3 class="opacity-50">There are <%= @recommendations.count %> results</h3>

  <% if @recommendations.any? %>
    <% @recommendations.each do |recommendation| %>
      <div class="search-item-recommendation">
        <div class="image-container-recommendation">
          <h2 class="description-name-recommendation"><%= recommendation.name %></h2>
          <div class="rating-recommendation"><%= recommendation.rating %> <i class="fas fa-star"></i></div>
          <img src="<%= recommendation.image_url %>" alt="">
          <div class="overlay-icons-recommendation">
            <i class="fa-regular fa-heart heart-icon-recommendation <%= 'liked' if current_user&.favorites.exists?(recommendation: recommendation) %>"
               data-controller="favorite"
               data-action="click->favorite#toggle"
               data-favorite-target="heart"
               data-recommendation-id="<%= recommendation.id %>">
            </i>
          </div>
        </div>
        <div class="labels-recommendation d-flex justify-content-between opacity-50">
          <span class="label-recommendation label-<%= recommendation.category %>"><%= recommendation.category.humanize %></span>
          <span class="label-recommendation label-<%= recommendation.label %>"><%= recommendation.label %></span>
          <span class="label-recommendation-time label-start-end-time"><%= recommendation.start_time&.strftime('%H:%M') %> - <%= recommendation.end_time&.strftime('%H:%M') %></span>
        </div>
        <p class="description-recommendation"><%= truncate(recommendation.description, length: 100) %></p>
        <%= link_to recommendation_path(recommendation), class: "text-decoration-none" do %>
          <button class="btn-find-out-more-recommendation">Find Out More</button>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No recommendations found.</p>
  <% end %>
</div>
