<%= render 'pages/top_bar' %>
<div class="recommendations-container" data-controller="recommendations">
  <h1 class="search-recommendation">Search Results</h1>
  <%= form_with url: recommendations_path, method: :get, local: true, data: { recommendations_target: "searchForm" } do %>
    <div class="input-group-recommendation">
      <input type="text" name="query" placeholder="Search by name" class="form-control-recommendation" data-recommendations-target="searchInput" id="search-input" value="<%= params[:query] %>">
      <button type="submit" class="btn-primary-recommendation">Search</button>
    </div>
  <% end %>

  <% if @recommendations.any? %>
    <% @recommendations.each do |recommendation| %>
      <div class="search-item-recommendation">
        <div class="image-container-recommendation">
          <h2 class="description-name-recommendation"><%= recommendation.name %></h2>
          <div class="rating-recommendation"><%= rand(1..5) %>.0
            <i class="fas fa-star"></i>
          </div>
          <img src="<%= recommendation.image_url %>" alt="">
          <div class="overlay-icons-recommendation">
            <i class="fa-regular fa-heart heart-icon-recommendation" data-recommendations-target="heart"></i>
          </div>
        </div>
        <div class="labels-recommendation">
          <span class="label-recommendation label-<%= recommendation.category %>"><%= recommendation.category.humanize %></span>
        </div>
        <p class="description-recommendation"><%= truncate(recommendation.description, length: 100) %></p>
        <%= link_to recommendation_path(recommendation), class: "text-decoration-none" do %>
          <button class="btn-find-out-more-recommendation">Find Out More</button>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No recommendations found.</p>
  <% end %>
</div>
