<!-- app/views/recommendations/index.html.erb -->
<%= render 'pages/top_bar' %>
<div class="recommendations-container container-padding" data-controller="recommendations">
  <h1 class="search-recommendation">Search Results</h1>
  <%= form_with url: recommendations_path, method: :get, local: true, data: { recommendations_target: "searchForm" } do %>
    <div class="input-group-recommendation">
      <input type="text" name="query" placeholder="Search by name" class="form-control-recommendation" data-recommendations-target="searchInput" id="search-input" value="<%= params[:query] %>">
      <button type="submit" class="btn-primary-recommendation">Search</button>
    </div>
  <% end %>
  <h3 class="opacity-50">There are <%= @recommendations.count %>
    <% if params[:category].present? %>
      <%= params[:category].humanize %>
    <% end %>
    results
  </h3>

  <% if @recommendations.any? %>
    <% @recommendations.each do |recommendation| %>
      <div class="search-item-recommendation">
        <div class="image-container-recommendation">
          <h2 class="description-name-recommendation"><%= recommendation.name %></h2>
          <div class="rating-recommendation"><%= recommendation.rating %>
            <i class="fas fa-star"></i>
          </div>
          <img src="<%= recommendation.image_url %>" alt="">
          <div class="overlay-icons-recommendation">
            <i class="fa-regular fa-heart heart-icon-recommendation <%= 'liked' if current_user&.favorites.exists?(recommendation: recommendation) %>"
               data-controller="favorite"
               data-action="click->favorite#toggle"
               data-favorite-target="heart"
               data-recommendation-id="<%= recommendation.id %>">
            </i>
          </div>
        </div>
        <div class="labels-recommendation d-flex justify-content-between opacity-50">
          <span class="label-recommendation label-<%= recommendation.category %>"><%= recommendation.category.humanize %></span>
          <span class="label-recommendation-time label-start-end-time"><%= recommendation.start_time&.strftime('%H:%M') %> - <%= recommendation.end_time&.strftime('%H:%M') %></span>
        </div>
        <p class="description-recommendation"><%= truncate(recommendation.description, length: 100) %></p>
        <%= link_to recommendation_path(recommendation), class: "text-decoration-none" do %>
          <button class="btn-find-out-more-recommendation">Find Out More</button>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No recommendations found.</p>
  <% end %>
</div>
