<div class="recommendations-container filter-modal" data-controller="filter">
  <div class="filter-icon-container">
    <i class="fas fa-sliders-h filter-icon"></i>
  </div>

  <!-- Filter Modal Structure -->
  <div class="modal" data-filter-target="modal">
    <div class="modal-content" data-filter-target="modalContent">
      <span class="close-button" data-action="click->filter#closeModal">&times;</span>
      <h2>Filter and Search</h2>

      <form action="/recommendations" method="get" data-filter-target="searchForm">
        <div class="input-group-recommendation">
          <label for="search-input">Search by name:</label>
          <input type="text" name="query" placeholder="Enter name" class="form-control-recommendation" data-filter-target="searchInput" id="search-input">
        </div>
        <div class="price-range-container">
          <h3>Price range</h3>
          <p>Nightly prices before fees and taxes</p>
          <input type="range" min="0" max="1000" value="0" class="range-slider" data-filter-target="priceRangeSlider">
          <div class="price-range-inputs">
            <input type="number" id="minPrice" name="min_price" placeholder="Min" data-filter-target="minPrice">
            <input type="number" id="maxPrice" name="max_price" placeholder="Max" data-filter-target="maxPrice">
          </div>
        </div>
        <button type="submit" class="btn-primary-recommendation">Search</button>
      </form>
    </div>
  </div>

  <h1 class="search-recommendation">Search Results</h1>
  <%= render 'pages/icons' %>

  <!-- Icon to toggle the map -->
  <div class="map-toggle-icon" data-bs-toggle="collapse" data-bs-target="#mapDropdown" aria-expanded="false" aria-controls="mapDropdown">
    <i class="fas fa-map-marked-alt"></i>
  </div>

  <!-- Map Dropdown Structure -->
  <div class="collapse" id="mapDropdown">
    <div class="card card-body">
      <div id="map" style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <style>
    #map {
      width: 100%;
      height: 500px; /* Adjust the height as needed */
    }

    .map-toggle-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #5B7553; /* Updated color */
      color: white;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      margin: 10px auto; /* Center horizontally with some margin */
    }

    .map-toggle-icon i {
      font-size: 24px;
    }

    .map-toggle-icon:hover {
      background-color: #3e5a39; /* Slightly darker for hover effect */
      transform: scale(1.1);
    }

    .map-toggle-icon:active {
      transform: scale(0.95);
    }
    .confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.confirmation-popup-content {
  margin: 10px;
}

.confirmation-popup-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.confirmation-popup-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirmBtn {
  background-color: #5B7553;
  color: white;
}

#cancelBtn {
  background-color: #ccc;
  color: black;
}

  </style>

  <hr class="custom-hr">
  <h3 class="opacity-25 my-3">There are <%= @counts %> results</h3>

  <% if @recommendations.any? %>
    <% @recommendations.each do |recommendation| %>
      <%= render "card", recommendation: recommendation, page: get_recommendation_card_page %>
    <% end %>
    <div class="container">
      <%= paginate @recommendations, theme: 'bootstrap-5',
                    pagination_class: "pagination-sm flex-wrap justify-content-center",
                    nav_class: "d-inline-block" %>
    </div>
  <% else %>
    <%= image_tag "unknown.jpg", height: "100%", width: "100%", style: "border-radius: 50%", class: "opacity-50" %>
  <% end %>

</div>
