<!-- Container for the show section -->
<div class="show-container">
  <%= image_tag(@recommendation.image_url, class: "show-image") %>
  <div class="show-text">
    <span class="label-recommendation label-<%= @recommendation.category %>"><%= @recommendation.category.humanize %></span>
    <h3 class="image-text"><%= @recommendation.name %></h3>
  </div>
</div>

<!-- Container for navigation items -->
<div class="navigation-container">
  <div class="navigation-item">
    <%= link_to recommendations_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="navigation-icons">
    <i class="fa-solid fa-share-nodes"></i>
    <i class="fa-regular fa-heart heart-icon-recommendation <%= 'liked' if current_user&.favorites.exists?(recommendation: @recommendation) %>"
       data-controller="favorite"
       data-action="click->favorite#toggle"
       data-favorite-target="heart"
       data-recommendation-id="<%= @recommendation.id %>"></i>
  </div>
</div>

<!-- Custom horizontal rule -->
<hr class="custom-hr">

<!-- Container for details section -->
<div class="details-container">
  <h3 class="colored-text">From $<%= @recommendation.price || @recommendation.price_range %> per adult</h3>

  <h1 class="colored-text">What to expect</h1>
  <p><strong>Is it Kids friendly? </strong>
    <%= @recommendation.kid_friendly ? 'Yes' : 'No' %>
  </p>
  <p><strong>Is it Dogs friendly? </strong>
    <%= @recommendation.dog_friendly ? 'Yes' : 'No' %>
  </p>
  <p><strong>Start time: </strong><%= @recommendation.start_time %></p>
  <p><strong>End time: </strong><%= @recommendation.end_time %></p>

  <h3 class="colored-text">Departure and return</h3>
  <ul>
    <li><%= @recommendation.address %></li>
  </ul>

  <h1 class="colored-text">About</h1>
  <p class="quote-text"><i class="fa-solid fa-quote-left"></i> <%= @quote %> <i class="fa-solid fa-quote-right"></i></p>
</div>

<!-- Custom horizontal rule -->
<hr class="custom-hr">

<!-- Container for recommendation rows -->
<div class="recommendations-container">
  <h3 class="colored-text">Recommendations based on your likes</h3>
  <div class="recommendations-row">
    <% @recommendations.each do |recommendation| %>
      <div class="recommendation-col">
        <div class="recommendation-card">
          <%= image_tag(recommendation.image_url, class: "recommendation-image") %>
          <div class="recommendation-card-body">
            <h5 class="recommendation-card-title"><%= recommendation.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
