<!-- Container for the show section -->

<div class="show-container">
  <%= image_tag(@recommendation.image_url, class: "show-image") %>
  <div class="show-text">
    <span class="label-recommendation label-<%= @recommendation.category %>"><%= @recommendation.category.humanize %></span>
    <h3 class="image-text"><%= @recommendation.name %></h3>
  </div>
</div>

<!-- Container for navigation items -->
<div class="navigation-container">
  <div class="navigation-item">
    <%= link_to recommendations_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="navigation-icons">
    <%= render "recommendations/share_and_like_buttons", recommendation: @recommendation %>
  </div>
</div>

<%# We can still use the HR with custom-hr class if we want to  %>
<div class="container text-center details-container">
  <div class="row">
    <div>
        <h4 class="colored-text">Time</h4>
        <div class="row text-center justify-content-center">
          <div class="col-3">
            <i class="fa-regular fa-clock colored-text"></i>
            <p><%= @recommendation.start_time.strftime("%H:%M") %></p>
          </div>
          <div class="col-3">
            <i class="fa-solid fa-clock colored-text"></i>
            <p><%= @recommendation.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
        <hr class="custom-hr">

      <div class="row text-center justify-content-center">
        <div class="col-3">
          <% if @recommendation.dog_friendly? %>
            <i class="fa-solid fa-paw colored-text" style="font-size: 30px"></i>
            <p class="colored-text">Pet</p>
          <% else %>
            <i class="fa-solid fa-paw colored-text opacity-25" style="font-size: 30px"></i>
            <p class="colored-text">Pet</p>
          <% end %>
        </div>
        <div class="col-3">
          <% if @recommendation.kid_friendly? %>
            <i class="fa-solid fa-child-reaching colored-text" style="font-size: 30px"></i>
            <p class="colored-text">Kid</p>
          <% else %>
            <i class="fa-solid fa-child-reaching colored-text opacity-25" style="font-size: 30px"></i>
            <p class="colored-text">Kid</p>
          <% end %>
        </div>
      </div>

    </div>
    <div class="px-5">
        <h4 class="colored-text">About</h4>
        <p class="colored-text"><i class="fa-solid fa-feather colored-text"></i><%= @recommendation.description %></p>
    </div>
  </div>
</div>


<!-- Container for details section -->
<div class="container" style="width: 100%; height: 250px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= render 'card_slider' %>
