<!-- Container for the show section -->
<div class="show-container">
  <%= image_tag(@recommendation.image_url, class: "show-image") %>
  <div class="show-text">
    <span class="label-recommendation label-<%= @recommendation.category %>"><%= @recommendation.category.humanize %></span>
    <h3 class="image-text"><%= @recommendation.name %></h3>
  </div>
</div>

<!-- Container for navigation items -->
<div class="navigation-container">
  <div class="navigation-item">
    <%= link_to recommendations_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="navigation-icons">
    <%= render "recommendations/share_and_like_buttons", recommendation: @recommendation, page: "#{params[:controller]}-#{params[:action]} %>
  </div>
</div>

<!-- Custom horizontal rule -->
<hr class="custom-hr">

<!-- Container for details section -->
<div class="details-container">
  <div style="width: 100%; height: 250px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <h3 class="colored-text">From $<%= @recommendation.price || @recommendation.price_range %> per adult</h3>

  <h1 class="colored-text">What to expect</h1>
  <div class="row mb-3 bg-secondary opacity-50 p-3">
    <div class="col-6 text-center dog-icon">
      <i class="fa-solid fa-dog opacity-50" style="font-size: 50px; color: white"></i>
        <%= @recommendation.dog_friendly ? 'Yes' : 'No' %>
    </div>
    <div class="col-6 text-center kid-icon">
      <i class="fa-solid fa-child-dress opacity-50" style="font-size: 50px; color: white"></i>
        <%= @recommendation.kid_friendly ? 'Yes' : 'No' %>
    </div>
  </div>
  <p><strong>Start time: </strong><%= @recommendation.start_time %></p>
  <p><strong>End time: </strong><%= @recommendation.end_time %></p>

  <h3 class="colored-text">Departure and return</h3>
  <ul>
    <li><%= @recommendation.address %></li>
  </ul>

  <h1 class="colored-text">About</h1>
  <p class="quote-text"><i class="fa-solid fa-quote-left"></i> <%= @quote %> <i class="fa-solid fa-quote-right"></i></p>
</div>

<!-- Custom horizontal rule -->
<hr class="custom-hr">

<!-- Container for recommendation rows -->
<div class="recommendations-container">
  <h3 class="colored-text">Recommendations based on your likes</h3>
  <div class="recommendations-row">
    <% @recommendations.each do |recommendation| %>
      <div class="recommendation-col">
        <div class="recommendation-card">
          <%= image_tag(recommendation.image_url, class: "recommendation-image") %>
          <div class="recommendation-card-body">
            <h5 class="recommendation-card-title"><%= recommendation.name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
