<!-- Container for the show section -->

<div class="show-container">
  <%= image_tag(@recommendation.image_url, class: "show-image") %>
  <div class="show-text">
    <span class="label-recommendation label-<%= @recommendation.category %>"><%= @recommendation.category.humanize %></span>
    <h3 class="image-text"><%= @recommendation.name %></h3>
  </div>
</div>

<!-- Container for navigation items -->
<div class="navigation-container">
  <div class="navigation-item">
    <%= link_to recommendations_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="navigation-icons">
    <%= render "recommendations/share_and_like_buttons", recommendation: @recommendation %>
  </div>
</div>

<%# We can still use the HR with custom-hr class if we want to  %>
<div class="container text-center details-container">
  <div class="row">
    <div>
    <%# This is for the ABOUT %>
      <div class="px-5">
        <h1 class="colored-text">About</h1>
        <p class="colored-text"><i class="fa-solid fa-feather colored-text"></i>  <%= @recommendation.description %></p>
      </div>
      <% if @recommendation.web_url? %>
        <a href="<%= @recommendation.web_url %>" class="text-decoration-none">Website link</a>
      <% end %>
    <hr class="custom-hr">
    <%# This is for the dog and kid icons  %>
      <div class="row text-center justify-content-center">
        <div class="col-3">
          <% if @recommendation.dog_friendly? %>
            <i class="fa-solid fa-paw colored-text" style="font-size: 20px"></i>
            <p class="colored-text mb-0">Pet</p>
          <% else %>
            <i class="fa-solid fa-paw colored-text opacity-25" style="font-size: 20px"></i>
            <p class="colored-text mb-0">Pet</p>
          <% end %>
        </div>
        <div class="col-3">
          <% if @recommendation.kid_friendly? %>
            <i class="fa-solid fa-child-reaching colored-text" style="font-size: 20px"></i>
            <p class="colored-text mb-0">Kid</p>
          <% else %>
            <i class="fa-solid fa-child-reaching colored-text opacity-25" style="font-size: 20px"></i>
            <p class="colored-text mb-0">Kid</p>
          <% end %>
        </div>
      </div>
      <hr class="custom-hr">
    <%# This is for the TIME and PRICING %>
      <div class="row">
        <div class="col-6">
          <div class="row text-center justify-content-center">
            <h5 class="colored-text">Time</h5>
            <% if @recommendation.start_time? && @recommendation.end_time? %>
              <div class="col-3">
                <i class="fa-regular fa-clock colored-text"></i>
                <p class="colored-text mb-0"><%= @recommendation.start_time.strftime("%H:%M") %></p>
              </div>
              <div class="col-3">
                <i class="fa-solid fa-clock colored-text"></i>
                <p class="colored-text mb-0"><%= @recommendation.end_time.strftime("%H:%M") %></p>
              </div>
            <% else %>
              <div class="col-3">
                <i class="fa-regular fa-clock colored-text"></i>
                <p class="colored-text mb-0">TBD</p>
              </div>
              <div class="col-3">
                <i class="fa-solid fa-clock colored-text"></i>
                <p class="colored-text mb-0">TBD</p>
              </div>
            <% end %>
            </div>
        </div>
        <div class="col-6">
          <div class="row text-center justify-content-center">
          <h5 class="colored-text">Pricing</h5>
          <% if @recommendation.price > 0 %>
            <div class="col">
              <p class="colored-text mb-0">$<%= @recommendation.price %> / person</p>
            </div>
          <% else %>
            <div class="col">
              <p class="colored-text mb-0">FREE ENTRY</p>
            </div>
          <% end %>
          <% if @recommendation.price_range? %>
            <div class="col">
              <p class="colored-text mb-0"><%= @recommendation.price_range %></p>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container for details section -->
<div class="container map-container" style="width: 100%; height: 250px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= render 'card_slider' %>
